<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Actividad 1</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html"><button>Inicio</button></a>
            <a href="login.html"><button>Iniciar sesion</button></a>
            <a href="register.html"><button>Registro</button></a>
        </nav>
    </header>
    
    <main>
        <img src="../img/the-witcher.svg" alt="">
    </main>

    <footer>
        <p>&copy; 2025 - Programacion IV - MB</p>
    </footer>
</body>
</html>